# Node.js
node_modules/

# Python
.venv/
__pycache__/
*.pyc

# SQLite
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*
backend/.env
!.env.example

# OS
.DS_Store

# Firebase CLI
firebase-debug.log*

# Vercel CLI
.vercel/
